
$color-nav-tablet:#abe9cd;
$back-color-nav2-tablet:#3eadcf;

$back-color-parallax:rgba(255,255,255, 0.7);

$back-color-footer:rgb(116, 112, 112);

$color-border-servicios:rgb(255, 0, 0);

$back-color-nav1-desktop:rgb(255, 255, 255);
$back-color-nav2-desktop-y-submit:blue;

$color-back-hover-desktop:rgb(80, 255, 240);
$color-hover-desktop:rgb(199, 43, 160);

$back-color-header-y-submit:white;
$back-color-main:wheat;
