
/* IMPORTO FUENTES DE GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,700;1,900&display=swap');

$tipo1:'PT Sans Narrow', sans-serif;

$tipo0:'Roboto Condensed', sans-serif;

$tipo2:'Roboto', sans-serif;